:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e5e7eb;
  background-color: #020617;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #a5b4fc;
  text-decoration: none;
}

a:hover {
  color: #c4b5fd;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Root container */

#root {
  min-height: 100vh;
}
